.container-fluid {padding:0;}

.display {width: 100%; padding: 0 0 0 0; text-align: center;
    &.image {background: no-repeat center/cover url(../img/placeholder.png); width: 600px; height:500px;}
    
}
    

#facts {
    width: 100%;
    padding: 20px;
    text-align: justify;
    text-align-last: left;
}


// VIDEO BACKGROUND START

header {
    position: relative;
    background-color: black;
    
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: no-repeat center/cover
      url(../img/hero-retro-background-placeholder.png);
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    object-fit: cover;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    &::-webkit-media-controls {
        display:none !important;
     }
  }
  
  .container-fluid.main-wrapper {
    position: relative;
    z-index: 2;
    min-height:100vh;
    .container {position:relative;
      
    }

  }

  #mapContainer.map-content-container {
    position: absolute;
    bottom:0px;
    left:0px;
    z-index:3;
    .imageBox {
      min-height:13vh;
    }
    #cityMap {width:100%; height:50vh; background:grey;}
  }

  
  
//   header .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background-color: black;
//     opacity: 0.5;
//     z-index: 1;
//   }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url("../img/hero-retro-background-placeholder.png") black
        no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }
